.box1{
    height: 250px;
    width: 250px;
    padding: 20px;
    border: 5px solid #000;
    background-color: aqua;
    background-image: radial-gradient(ellipse at bottom,red,yellow,green,blue,aqua,lime,gray);
}
.box2{
    height: 250px;
    width: 250px;
    padding: 20px;
    border-radius: 50%;
    border: 5px solid #000;
    background-color: aqua;
    background-image: conic-gradient(red 45deg,yellow 90deg,green 270deg);
}
#box3{
    height: 200px;
    width: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;

  }
  .box4 {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 21px 0 rgba(0, 0, 0, 0.20);
    text-align: center;
  }
  
  div.contain {
    padding: 10px;
  }